<h2>@ViewData["Title"]</h2>

<form method="post">
    <input name="first"><br/>
    <select name="operation">
        <option value="+"> + </option>
        <option value="-"> - </option>
        <option value="*"> * </option>
        <option value="/"> / </option>
    </select><br />
    <input name="second"><br/>
    <input type="submit">
</form>

