<h2>@ViewData["Title"]</h2>

<form method="post">
    <input name="x"><br />
    <select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select><br />
    <input name="y"><br />
    <input type="submit">
</form>

